* {
  margin: 0px;
  padding: 0px;
  font-family: "Caveat", cursive;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  height: 100%;
}

.display-flex {
  display: flex;
}

.blue-color {
  color: rgb(28, 67, 126);
}
.app {
  height: 100vh;
}

.modal-backdrop {
  background-color: rgb(28, 67, 126);
}
